/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  color: rgb(48, 48, 48);
  font-family: Arial, Helvetica, sans-serif;
}

.user {
  position: fixed;
  right: 20px;
  top: 20px;
  margin: 0;
}

.cart-list li {
  margin: 20px 0;
}

.item-quantity {
  padding: 5px;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 3px;
}

.item-quantity span a {
  border: none;
}

.flash {
  border-radius: 5px;
  padding: 10px 10px;
  width: 500px;
}

.success {
  border: 1px solid green;
  color: green;
}

.error {
  border: 1px solid red;
  color: red;
}